/.R/
/_targets/
/.quarto/
/manuscript/*.aux
/manuscript/*.bbl
/manuscript/*.bcf
/manuscript/*.blg
/manuscript/*.fdb_latexmk
/manuscript/*.fls
/manuscript/*.log
/manuscript/*.out
/manuscript/*.run.xml
/docs/*.pdf


/manuscript/*.tex
/manuscript/**/*.tex
/manuscript/*.bib
/manuscript/*.pdf
output/figures
output/tables
output/data